:host {
    display: block;
    min-height: 100vh;
    background-image: url('https://aadcdn.msftauthimages.net/dbd5a2dd-zkk03jalx6np8i6shyio-xrd-sy0pj-uiu2k0zyj-i8/logintenantbranding/0/illustration?ts=638780943546622621');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }